@import "./../../Static/scss/default.scss";
.invest-page {
  margin-top: 142px;
  & .left-information {
    height: 100%;
    background-color: $gray-color;
  }
  strong {
    margin-bottom: 20px;
  }
  p,
  h3,
  article {
    color: $bg-dark-blue;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 25px;
    font-size: 400;
  }
  h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    color: $bg-dark-blue;
  }
  h3 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
  }
  & .text-mega {
    font-size: 70px !important;
    line-height: 78px !important;
    color: #022a48;
  }
  .holder {
    p,
    h2,
    h3 {
      color: $white-color;
    }
    strong {
      font-size: 14px;
    }
  }
  .label {
    background-color: #022a48;
  }
  & .return {
    h2 {
      color: #022a48;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
      font-size: 24px !important;
      font-weight: 700 !important;
    }
    & .chart-circle {
      position: relative;
      display: inline-block;
      width: 120px;
      height: 120px;
      margin-bottom: 20px;
    }
  }
  & .ll {
    h2 {
      color: #022a48;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
      font-size: 24px !important;
      font-weight: 700 !important;
    }
    & .text-icon-left {
      position: relative;
      left: 0;
      right: 0;
      padding-left: 70px;
      margin-bottom: 30px;
      display: block;
      & .text-icon {
        position: absolute;
        left: 0;
        right: 0;
        padding: 8px;
        width: 52px;
        height: 52px;
        color: $bg-sea-blue;
      }
    }
  }
  & .sign-up {
    height: 100%;
    padding: 50px 40px 30px 40px;
    background: $bg-sea-blue;
    & .text-icon {
      position: relative;
      left: 0;
      right: 0;
      padding-left: 70px;
      margin-bottom: 30px;
      display: block;
      & .icon {
        position: absolute;
        left: 0;
        right: 0;
        padding: 8px;
        width: 52px;
        height: 52px;
        color: $bg-dark-blue;
      }
      & .text-icon-content {
        color: $bg-dark-blue;
        & h3 {
          color: $bg-dark-blue;
          margin-bottom: 15px;
          font-size: 20px;
          font-weight: 700;
        }
        & p {
          font-size: 15px;
          line-height: 26px;
          color: #022a48;
          font-size: 400;
        }
      }
    }
  }
  & .download {
    padding: 50px 40px 30px 40px;
    background: $bg-dark-blue;
    & .text-icon {
      position: relative;
      left: 0;
      right: 0;
      padding-left: 70px;
      margin-bottom: 30px;
      display: block;
      & .icon {
        position: absolute;
        left: 0;
        right: 0;
        padding: 8px;
        width: 52px;
        height: 52px;
        color: #ffffff;
      }
      & .text-icon-content {
        color: #ffffff;
        & h3 {
          color: #ffffff;
          margin-bottom: 15px;
          font-size: 20px;
          font-weight: 700;
        }
        & p {
          font-size: 15px;
          line-height: 26px;
          color: #ffffff;
          font-size: 400;
        }
      }
    }
  }
  & .book {
    & .img-book {
      width: 100%;
    }
  }
  & .panel-aus {
    background-image: url(https://tandemuehling.com.au/wp-content/uploads/2016/09/about-us-bottom-4.jpg);
    background-repeat: repeat;
    & .content {
      padding: 60px 119.5px;
      @include mobile {
        padding: 20px 0;
      }
    }
  }
  & .branding {
    background-image: url(https://tandemuehling.com.au/wp-content/uploads/2017/03/How-it-works-2.jpg);
    background-position: top left;
    background-repeat: repeat;
  }
}
.label {
  line-height: 1.42857143;
  border-radius: 1px;
  display: inline-block;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 20px;
  color: #ffffff;
}
