@import "./../../Static/scss/default.scss";
#slider {
  @include mobile{
    min-height: 225px;
    height: 800px;
  }
  position: relative;
  overflow: hidden;
  min-height: 900px;
  width: 100%;
  &:hover {
    & .swiper-button-next,
    & .swiper-button-prev {
      display: block;
    }
  }
  & .caption-item {
    @include mobile{
      padding: 0;
      left: 0;
    }
    right: 10px;
    height: auto;
    position: absolute;
    top: 142px;
    left: 10px;
    width: 100%;
    max-width: 1280px;
    padding: 0 40px;
    padding-left: 80px;
    margin-left: auto;
    margin-right: auto;
    & .caption-box-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .middle {
        text-align: center;
        display: block;
      }
    }
    & .caption-box {
      width: 100%;
      height: 100%;
      & .caption-content {
        background-color: rgba(255, 255, 255, 0);
        color: #ffffff;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        margin: 0;
        max-width: 640px;
        @include mobile{
          font-size: 16px;
          padding-left: 5px;
          padding-right: 5px;;
        }
      }
      & .caption-header {
        margin-top: 120px;
        background-color: rgba(250, 250, 250, 1);
        color: #1b669b !important;
        padding: 10px 25px;
        font-weight: 700;
        margin-bottom: 15px;
        padding-left: 45px;
        text-align: left;
        display: inline-block;
        @include mobile{
          margin-top: 0;
        }
        & .message {
          display: inline-block;
        }
      }
      & .caption-title {
        margin-bottom: 25px;
        border-radius: 1px;
        h2 {
          font-size: 60px;
          line-height: 68px;
          font-weight: 900;
          @include mobile{
             font-size: 48px;
            line-height: 54px;
            font-weight: 400;
          }
        }
      }
      & .caption-btn {
        margin: 30px 20px 30px 0;
      }
      & .button-big {
        background-color: #3f9be1;
        border-radius: 1px;
        color: #ffffff;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        border: 0;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        text-shadow: none;
        font-weight: 700;
        border-radius: 1px;
        margin-bottom: 30px;
        font-size: 18px;
        padding: 14px 18px;
        line-height: 22px;
      }
    }
  }
  & .article-1 {
    display: block;
    position: relative;
    background-image: url("./../../Static/Img/slider-01-1.jpg");
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-color: rgba(222, 222, 222, 1);
    @include mobile{
      height: 800px;
    }
  }
  & .article-2 {
    display: block;
    position: relative;
    background-image: url("./../../Static/Img/slider-02.jpg");
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-color: rgba(222, 222, 222, 1);
    @include mobile{
      height: 800px;
    }
  }
  & .article-3 {
    display: block;
    position: relative;
    background-image: url("./../../Static/Img/slider-03.jpg");
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-color: rgba(222, 222, 222, 1);
    @include mobile{
      height: 800px;
    }
  }
  & .swiper-button-next,
  & .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.6);
    width: 72px;
    height: 72px;
    display: none;
  }
  & .swiper-button-next {
    right: 0;
  }
  & .swiper-button-prev {
    left: 0;
  }
  & .swiper-pagination {
      @include mobile{
        bottom: 30px;
      }
    .swiper-pagination-bullet {
      background-color: #ffffff;
      height: 12px;
      width: 30px;
      border-radius: 20px;
    }
  }
}
.buttom-sea {
  background-color: #3f9be1;
  border-radius: 1px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-shadow: none;
  font-weight: 700;
  border-radius: 1px;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 14px 18px;
  line-height: 22px;
}
.about {
  & p {
    color: #ffffff;
    line-height: 26px;
    margin-bottom: 15px;
    font-weight: 500;
  }
  & h2 {
    font-size: 34px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  & .pannel {
    height: 100%;
    & .about-card {
      height: 100%;
      background-color: $bg-dark-blue;
      padding: 40px;
      & .content {
        text-align: right;
        & .custom-icon {
          font-size: 40px;
          color: $bg-sea-blue;
        }
      }
    }
  }
}
.about-component {
  background-color: $bg-sea-blue;
  height: 100%;
  & .content {
    height: 100%;
    padding: 20px;
    padding-top: 40px;
    background-color: $bg-sea-blue;
    text-align: center;
    & .contain-img {
      text-align: center;
      & .about-img {
        text-align: center;
      }
    }
    & h4 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px;
      color: $bg-dark-blue;
      margin-bottom: 30px;
      text-align: center;
    }
    & p {
      color: $bg-dark-blue;
    }
  }
}
.button-edge {
  font-size: 15px;
  padding: 8px 10px;
  font-weight: 600;
  color: $bg-dark-blue;
  border-color: $bg-dark-blue;
  border: 2px solid $bg-dark-blue;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  @include mobile {
    display: block;
  }

  & .icon-edge {
    margin-right: 10px;
    font-size: 20px !important;
    margin-bottom: 0;
    line-height: 20px;
  }
  &:hover {
    background: $bg-dark-blue;
    color: $bg-sea-blue;
    & .icon-edge {
      color: #ffffff;
    }
  }
  & .custom-logo {
    margin-right: 10px;
    width: 20px !important;
    height: 20px;
    margin-bottom: 0;
    line-height: 20px;
    color: $bg-dark-blue;
  }
}
.button-light {
  font-size: 15px;
  padding: 8px 10px;
  font-weight: 600;
  color: white;
  border-color: #ffffff;
  border: 2px solid #ffffff;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  @include mobile {
    display: block;
  }
  & .icon-edge {
    margin-right: 10px;
    font-size: 20px !important;
    margin-bottom: 0;
    line-height: 20px;
  }
  &:hover {
    background: #ffffff;
    color: $bg-sea-blue;
    & .icon-edge {
      color: $bg-dark-blue;
    }
  }
  & .custom-logo {
    margin-right: 10px;
    width: 20px !important;
    height: 20px;
    margin-bottom: 0;
    line-height: 20px;
    color: $bg-dark-blue;
  }
}
.button-medium {
  font-size: 17px;
  padding: 12px 24px;
  font-weight: 600;
  background: #ffffff;
  color: $bg-dark-blue;
  border-color: #ffffff;
  border: 2px solid #ffffff;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  @include mobile {
    display: block;
  }
  & .icon-edge {
    margin-right: 10px;
    font-size: 24px !important;
    margin-bottom: 0;
    line-height: 20px;
  }
  &:hover {
    background: $bg-dark-blue;
    color: $bg-sea-blue;
    & .icon-edge {
      color: #ffffff;
    }
  }
  & .custom-logo {
    margin-right: 10px;
    width: 20px !important;
    height: 20px;
    margin-bottom: 0;
    line-height: 20px;
    color: #ffffff;
  }
}
.invester-usa {
  height: 100%;
  & .pannel {
    height: 100%;
    & .img-invester {
      background-image: url("./../../Static/Img/inverter/image-right-1.jpg");
      background-size: cover;
      background-repeat: repeat;
      min-height: 600px;
      height: 100%;
    }
  }
  & .contain-invester {
    padding: 60px 40px;
    min-height: 540px;
    & .custom-icon {
      font-size: 40px;
      line-height: 40px;
      margin: 0 0 15px 0;
      padding-top: 12px;
      border-radius: 99px;
      width: 58px !important;
      height: 58px !important;
      color: $bg-sea-blue;
    }
    & span {
      color: #ffffff;
      padding: 5px 10px 5px 10px;
      margin-bottom: 20px;
      display: inline-block;
      font-size: 16px !important;
      font-weight: 700 !important;
      border-radius: 1px;
      background: $bg-sea-blue;
    }
    & h2 {
      color: #022a48;
    }
    & p {
      color: #022a48;
      font-size: 15px;
      line-height: 26px;
      margin-bottom: 25px;
    }
  }
  & .list-icon {
    padding-top: 100px;
    & .counter {
      position: relative;
      display: inline-block;
      margin: 0 10px 30px 10px;
      position: relative;
      top: 0;
      left: 0;
      padding-left: 80px;
      min-height: 85px;
      @include tablet{
        display: block
      }
      & .icon {
        position: absolute;
        top: 20px;
        left: 0;
        font-size: 52px;
        margin-right: 10px;
        color: $bg-sea-blue;
      }
      & .counter-body {
        color: $bg-sea-blue;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 0;
        margin-bottom: 8px;
        max-height: 50px;
        overflow: hidden;
        text-align: left !important;
      }
      & h3 {
        color: #022a48;
        line-height: 38px;
        font-weight: 700;
      }
    }
  }
  & .sign-up {
    height: 100%;
    padding: 50px 40px 30px 40px;
    background: $bg-sea-blue;
    & .text-icon {
      position: relative;
      left: 0;
      right: 0;
      padding-left: 70px;
      margin-bottom: 30px;
      display: block;
      & .icon {
        position: absolute;
        left: 0;
        right: 0;
        padding: 8px;
        width: 52px;
        height: 52px;
        color: $bg-dark-blue;
      }
      & .text-icon-content {
        color: $bg-dark-blue;
        & h3 {
          color: $bg-dark-blue;
          margin-bottom: 15px;
          font-size: 20px;
          font-weight: 700;
        }
        & p {
          font-size: 15px;
          line-height: 26px;
          color: #022a48;
          font-size: 400;
        }
      }
    }
  }
  & .download {
    padding: 50px 40px 30px 40px;
    background: $bg-dark-blue;
    & .text-icon {
      position: relative;
      left: 0;
      right: 0;
      padding-left: 70px;
      margin-bottom: 30px;
      display: block;
      & .icon {
        position: absolute;
        left: 0;
        right: 0;
        padding: 8px;
        width: 52px;
        height: 52px;
        color: #ffffff;
      }
      & .text-icon-content {
        color: #ffffff;
        & h3 {
          color: #ffffff;
          margin-bottom: 15px;
          font-size: 20px;
          font-weight: 700;
        }
        & p {
          font-size: 15px;
          line-height: 26px;
          color: #ffffff;
          font-size: 400;
        }
      }
    }
  }
  & .book {
    & .img-book {
      width: 100%;
    }
  }
}
.how-it-work {
  margin-bottom: 20px;
  & .banner-inner {
    margin-bottom: 20px;
    margin-top: 70px;
    text-align: center;
    max-width: 979px;
    margin-left: auto;
    margin-right: auto;
    & .contain {
      font-size: 15px;
      margin: 15px 0 0 0;
      line-height: 26px;
      font-weight: 400;
      color: $bg-dark-blue;
    }
    & .work-button {
      background-color: $bg-sea-blue;
      color: #ffffff;
      border: 2px solid $bg-sea-blue;
    }
  }
  & .works-card {
    padding: 40px;
    & .lazyloaded {
      height: 143px;
    }
    p {
      font-size: 15px;
    }
  }
}
.calculate {
  & .content {
    & .big-icon {
      margin-bottom: 20px;
      padding-top: 12px;
      border-radius: 99px;
      font-size: 58px;
      color: $bg-sea-blue;
    }
    & h2 {
      margin-bottom: 26px;
    }
    & p {
      font-size: 16px !important;
      font-weight: 100;
      line-height: 26px;
      margin-bottom: 30px;
      
    }
     & h4{
      font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #ffffff;
    }
    & .phone-number{
      cursor: pointer;
      &:hover{
        color: $bg-sea-blue;
      }

    }
  }
}
.ant-tooltip-inner {
  background-color: $bg-dark-blue;
  width: 88px;
  padding: 10px 0;
  border-radius: 8px;
}
.ant-tooltip-arrow::before {
  width: 10px;
  height: 10px;
  background-color: $bg-dark-blue;
}
.bg-sea {
  & .slider {
    display: flex;
    padding-top: 0em;
    padding-bottom: 0.75em;
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    & .ant-slider {
      width: 100%;
    }
    & .ant-slider-track {
      background-color: $bg-dark-blue;
      height: 10px;
    }
    & .ant-slider-rail {
      height: 10px;
      background: #ffffff;
      border-radius: 6px;
    }
    & .ant-slider-step {
      height: 10px;
    }
    & .ant-slider-handle {
      width: 30px;
      height: 30px;
      margin-top: -10px;
      background: #1b6497 url("./../../Static/Img/slide-button.png") no-repeat center center;
      border: 4px solid #124978 !important;
    }
  }
}
.text-tooltip {
  text-align: center;
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
}
.table-invest {
  margin-top: 22px;
  margin-bottom: 50px;
  width: 100%;
  background: $bg-sea-blue;
  & .ant-table-tbody {
    tr {
      &:hover {
        & td {
          background: #ffffff !important;
          color: $bg-dark-blue;
        }
      }
    }
  }
  & .col-year {
    width: 50%;
    text-align: center;
    background-color: $bg-sea-blue;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
  }
  & .col-money {
    text-align: center;
    background: #124978;
    padding: 0 16px !important;
    color: #ffffff;
    font-weight: 700;
  }
}
.img-contact{
  height: 100%;
  background-image: url('./../../Static/Img/contact-us.jpg');
  background-size: cover;
  min-height: 400px;
  background-position: center;;
}
.news{
  margin-top: 40px;
  margin-bottom: 80px;
    h2{
      margin-bottom: 30px;
    }
  
}
.news-card{
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
  & .infor-card{
    border: 1px solid #e4e4e4;
    display: flex;
    flex-direction: column;
    & .show-img{
      position: relative;
      &:hover{
      
        & .overlay{
          display: flex;
         
          &::before{
            content: "";
            opacity: 0.75;
            background-color: $bg-dark-blue;
            width: 100%;
            height: 100%;

          }
        }
        ~ .content{
            background-color: $bg-dark-blue;
            a{
    
              color: #ffffff;
            }
            & p{
              color: #ffffff;
            }
            & .newsAuthor{
              .vuvo{
                color: #ffffff;
              }
            }
          

        }
      }
      img{
        width: 100%;
        height: 100%;
        
      }
      & .overlay{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        & .icon{
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: center;
          z-index: 10;
          & .icon-display{
            margin-left: 15px;
            height: 50px;
            width: 50px;
            padding: 5px;
            background-color: $bg-sea-blue;
          }
        }

      }
    }
    & .content{
     
      &:hover{
        background-color: $bg-dark-blue;
        a{

          color: #ffffff;
        }
        & p{
          color: #ffffff;
        }
        & .newsAuthor{
          .vuvo{
            color: #ffffff;
          }
        }
      }
      h3{
        margin-top: 30px;
      }
      padding: 15px;
      a{
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        color: $bg-dark-blue;
      }
      & .newsAuthor{
        span{
          font-size: 16px;
          font-weight: 600;
          text-transform: capitalize;
          & span{
            padding-left: 5px;
            color: $bg-sea-blue;
          }
        }
      }
      & p{
        font-size: 15px;
        line-height: 22px;
        margin: 20px 0 5px 0;
        color: $bg-dark-blue;
      }
    }
    & .blog-pill{
      display: inline-block;
      background-color: #4197d8 ;
      color: #ffffff ;
      padding: 5px 5px;
      border-radius: 99px;
      font-weight: 600px;
      text-align: center;
      font-weight: 600;
      position: absolute;
      bottom: -20px;
      left: 20%;
      right: 20%;
    }

  }
}
.comment{
  background-image: url('./../../Static/Img/bg-commentjpg.jpg');
  background-position: center;
  background-size: cover;
  padding: 80px 0;
  & .message{
    margin: 50px 0;
    & blockquote{
      margin: 20px 0;
      padding: 0 12px;
      border: 0 solid rgba(0, 0, 0, 0);
      font-style: italic;
      line-height: 32px;
      text-align: left;
      & .icon-left{
        margin-right: 10px;
        line-height: 22px
      }
      & .icon-right{
        margin-left: 10px;
        line-height: 22px
      }
      

    }
    & .city{
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      padding-top: 15px;
      color: #ffffff;
    }
  }
 
}
blockquote{
  color: #ffffff !important;
    font-size: 17px !important;
    font-weight: 400 !important;
}
.advertise{
  position: relative;
  background: $bg-sea-blue;
  padding: 80px 0;

  & .icon-absolute{
    margin-left: -20px;
    z-index: 99;
    background-color: $bg-sea-blue;
    position: absolute;
    top: -36px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7px;
    font-size: 30px;
    width: 72px;
    height: 72px;

  }
  p{
    font-size: 16px;
    margin: 15px  0;
    line-height: 26px;
    font-weight: 400;
  }
  & .mt-text{
    margin-top: 40px;;
  }
}
h2 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 700
}
